{{!< default}}
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
/>
    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@700&display=swap" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Ultra&display=swap" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
    integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
  <link rel="stylesheet" href="/assets/index.css" />
  <link rel="stylesheet" href="/assets/header.css" />
  <link rel="stylesheet" href="/assets/homepage.css" />
  <link rel="stylesheet" href="/assets/contentpage.css" />
  <link rel="stylesheet" href="/assets/consult.css" />
  <link rel="stylesheet" href="/assets/copyright.css" />


<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

{{#post}}



<article class="gh-article {{post_class}} gh-post">
    <div class="gh-container ">
        
        <div class="swiper">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
                <!-- Slides -->
                    <div class="swiper-slide"><img src="/static/swiper/1709044449093.jpg"></div>
                    <div class="swiper-slide"><img src="/static/swiper/1709044449093.jpg"></div>
                    <div class="swiper-slide"><img src="/static/swiper/1709044449093.jpg"></div>
                </div>
                <!-- If we need pagination -->
                <div class="swiper-pagination"></div>

                <!-- If we need navigation buttons -->
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>

                <!-- If we need scrollbar -->
            <div class="swiper-scrollbar"></div>
        </div>
        <header class="gh-header gh-canvas">

            <div class="postRow">
                <div class="row">
                    <h1 class="post-header-front post-header-h1">精選文章</h1>
                    <p class="post-header-front post-header-p">所有文章 > </p>
                 </div>
            </div>
             <div class="swiper-container-card ">
                <div class="swiper-wrapper ">
                <div class="swiper-slide">
                    <div class="post-card">
                        <div class="post-card-header">
                        </div>
                         <div class="card-tags">
                            #文章標籤
                        </div>
                        <div class="post-card-content">
                            <div class="post-card-title">標題標題標題標題標題標題標題標題標題標題標題標題標題標題標題標題標題標題標題標題標題標題標題標題標題標題標題</div>
                            <div class="post-card-article">文章摘要文章摘要文章摘要文章摘要文章摘要文章摘要文章摘要文章摘要文章摘要文章摘要文章摘要</div>
                            <div class="post-card-article">
                            <div class="post-card-footer">
                                <div>
                                    作者名稱
                                </div>
                                 <div>
                                    YYYY/MM/DD
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                     <div class="post-card">
                        <div class="post-card-header">
                        </div>
                         <div class="card-tags">
                            #文章標籤
                        </div>
                        <div class="post-card-content">
                            <div class="post-card-title">標題標題標題標題標題標題標題標題標題標題標題標題標題標題標題標題標題標題標題標題標題標題標題標題標題標題標題</div>
                            <div class="post-card-article">文章摘要文章摘要文章摘要文章摘要文章摘要文章摘要文章摘要文章摘要文章摘要文章摘要文章摘要</div>
                            <div class="post-card-article">
                            <div class="post-card-footer">
                                <div>
                                    作者名稱
                                </div>
                                 <div>
                                    YYYY/MM/DD
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                      <div class="post-card">
                        <div class="post-card-header">
                        </div>
                         <div class="card-tags">
                            #文章標籤
                        </div>
                        <div class="post-card-content">
                            <div class="post-card-title">標題標題標題標題標題標題標題標題標題標題標題標題標題標題標題標題標題標題標題標題標題標題標題標題標題標題標題</div>
                            <div class="post-card-article">文章摘要文章摘要文章摘要文章摘要文章摘要文章摘要文章摘要文章摘要文章摘要文章摘要文章摘要</div>
                            <div class="post-card-article">
                            <div class="post-card-footer">
                                <div>
                                    作者名稱
                                </div>
                                 <div>
                                    YYYY/MM/DD
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
             
                </div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
                <!-- Add Pagination -->
                <div class="swiper-pagination"></div>
            </div>
            
            
            
        
                
        </header>
    </div>
</article>


{{/post}}
  <style>
        .swiper {
        width: 100%;
        height: 600px;
        }
        .gh-post{
        background-color: #FDF2D6;
        }
        .post-header-front{
        color: #42403D;
        text-decoration: none;
        font-weight: 700;
        }
        .post-header-h1{
        font-size: 24px;
        }
         .post-header-p{
        font-size: 18px;
        }
        .post-card-title{
        font-size: 20px;
        color: #42403D;
        font-family: 'Noto Sans TC', sans-serif;
        font-weight: 700; 
        padding-top: 10px;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        }
        .post-card-article{
        font-size: 14px;
        color: #42403D;
        font-weight: 400; 
        font-family: 'Noto Sans TC', sans-serif;
         display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        }
        .post-card-footer {
            display: flex;
            justify-content: space-between;
        }
        .postRow{
        margin-top: 5%;
        }
        .row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        }
        .swiper-container-card {
        width: 300px; 
        margin: 0 auto; 
        }
      .post-card {
        width: 280px;
        height: 400px;
        border-radius: 15px;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        position: relative;
        margin: 10px;
        }
        .post-card-header {
        padding: 10px;
        text-align: center;
        flex: 5; 
        background-color: #fff;
        }

    .card-tags {
        background-color: #FAC02C;
        border-radius: 40px;
        margin-left: 15px;
        text-align: left;
        position: absolute;
        top: 60%;
        left: 10%;
        font-size: 16px;
        color: #fff;
    }
    .post-card-content {
        width: 100%;
        height: 150px; /* 兩行文本高度，根據需要調整 */
        overflow: hidden;
        background-color: #D9D9D9;
        padding: 5px;
    }





  .swiper-pagination-bullet {
    display: none; /* 隱藏輪播牆的點 */
}

  </style>
 <script>
	const swiper = new Swiper('.swiper', {
        // Optional parameters
        direction: 'horizontal',
        loop: true,

        // If we need pagination
        pagination: {
            el: '.swiper-pagination',
        },
        autoplay: {
        delay: 4000, // 設置自動撥放秒數
        },
        // Navigation arrows
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },

        // And if we need scrollbar
        scrollbar: {
            el: '.swiper-scrollbar',
        },
    });

    const swiperCard = new Swiper('.swiper-container-card', {
      direction: 'horizontal', // 设置垂直方向
      loop: true, // 开启循环模式
      pagination: {
        el: '.swiper-pagination',
        clickable: true,
      },
         navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },

        // And if we need scrollbar
        scrollbar: {
            el: '.swiper-scrollbar',
        },
    });
  </script>
